<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid" style="border: 0 !important; border-bottom: 3px solid #fff;">
      <a href="{{ url_for('home.home') }}">
        <img class="navbar-toggler-icon" style="height:45px;width: 50px" src="static/logo.png" alt="Logo web">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-5">
          <a class="nav-link text-white fs-5" href="{{ url_for('profile.user_profile',profile_id=usr.login)}}">Mis lloros</a>
        </li>
         <li class="nav-item ms-5 d-flex ">
          <form action="/logout" method="post">
            <button class="btn btn-outline-success mt-1" type="submit">Salir</button>
      </form>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/search/results" method="post">
        <input class="form-control me-2" type="search" name="inputSearch" placeholder="Lloros de otros usuarios" aria-label="Search">
        <button class="btn btn-outline-success"  formmethod="post" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div id=”dvErrorMsg”  style="font-weight: bold; color: white; background-color:
red">
    {% with error_messages = get_flashed_messages() %}
        {% if error_messages %}
            {% for message in error_messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
 </div>
<div class="bg-dark" style="min-height: 100vh; margin-top:1px;padding-bottom: 10px;">
<div class="pb-5"></div>
  </form>
        {% if lloros_list %}
        <ul>
            {% for lloro in lloros_list %}
                <li>
                    <div class="d-lg-flex flex-column border border-white flex-wrap me-5 mt-2 mb-2">
                        <div class=" text-white h5 p-2">{{ lloro.author }} <form action="/profile/delete" method="post">
                            <input type="text" style="display: none" name="safe_oid" id="safe_oid"
                                   value="{{ oids[lloro.__oid__] }}"/>
                            <button action="submit"><img class="icon" style="height:20px;width: 20px" src="static/trash.png" alt="Delete"></button>
                        </form></div>
                        <div class=" text-white p-2">{{ lloro.msg }}</div>

                        <div class=" text-white p-2 align-self-end">Ha llorado a las {{ lloro.time }} </div>
                </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="text-white h2 text-center pt-5" >El usuario aún no ha llorado</div>
        {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>